body {background-color: #39ff75; width: 400px; position: center; }
h1 {font-family:___; font-weight:___; font-style:___; color:;}
h2 {font-family:; font-weight:; font-style:; color:;}
h3 {font-family:; font-weight:; font-style:; color:;}
ul {font-family:; font-weight:; font-style:; color:;}